<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Film</title>
</head>
<body>
<div class="container">
    <h1>New film:</h1>
    <form th:action="@{/addfilm}"
          th:object="${filmform}" method="POST">
        <p>Title:
            <input type="text" th:field="*{title}" />
        </p>
        <p> Director:
            <input type="text" th:field="*{director}" />
        </p>
        <input class ="button-main-page" type="submit" value="Add" />
    </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
</div>
</body>